.marie-curie{
  background-color: mediumorchid;
  color: darkslateblue
}

.malala-yousafzai{
  background-color: indianred;
  color: black
}

.emmeline-pankhurst{
  background-color: aquamarine;
  color: darkblue
}

h1{
  text-align: center 
}

.ppli{
  font-style: italic
}